Repository ArtemLevin/notification-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-compose-lint, dockerfile-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies: [wemake-python-styleguide==0.18.0]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests==2.31.0, types-redis==4.6.0.20241004]

  - repo: local
    hooks:
      - id: docker-compose-lint
        name: docker-compose lint
        entry: docker-compose config
        language: system
        files: docker-compose.*\.ya?ml$
        pass_filenames: false

      - id: dockerfile-lint
        name: Dockerfile lint
        entry: hadolint
        language: system
        files: Dockerfile.*

dockerize
  docker-compose.yml
  services/notification_api/Dockerfile
  services/notification_api/api/__init__.py
  services/notification_api/api/v1/__init__.py
  services/notification_api/api/v1/api.py
  services/notification_api/core/__init__.py
  services/notification_api/core/logging_settings.py
  services/notification_api/core/settings.py
  services/notification_api/main.py
  services/notification_api/models/__init__.py
  services/notification_api/models/base.py
  services/notification_api/models/delivery.py
  services/notification_api/models/notification.py
  services/notification_api/requirements.txt
Due: docker-compose-lint, dockerfile-lint

upd ci
  .github/workflows/pre-commit.yml
Due: none

Add db models
  docker-compose.yml
  requirements.txt
  services/notification_api/api/v1/api.py
  services/notification_api/core/db.py
  services/notification_api/core/settings.py
  services/notification_api/main.py
  services/notification_api/models/notification.py
  services/notification_api/requirements.txt
Due: docker-compose-lint

crud logic
  services/notification_api/api/v1/api.py
  services/notification_api/core/repository.py
  services/notification_api/core/service.py
  services/notification_api/models/base.py
  services/notification_api/models/notification.py
  setup.cfg
Due: none

CI fix
  .github/workflows/pre-commit.yml
Due: none

build: обновил и добавил зависимости
  pyproject.toml
  uv.lock
Due: none

chore: развернул админ панель
  docker-compose.yml
Due: docker-compose-lint

feat: релизация админ панели
  admin_panel/.dockerignore
  admin_panel/.env.example
  admin_panel/Dockerfile
  admin_panel/README.md
  admin_panel/__init__.py
  admin_panel/admin/auth.py
  admin_panel/admin/jinja_setup.py
  admin_panel/admin/views/__init__.py
  admin_panel/admin/views/admin_campaign.py
  admin_panel/admin/views/admin_delivery.py
  admin_panel/admin/views/admin_recipient.py
  admin_panel/admin/views/admin_template.py
  admin_panel/alembic.ini
  admin_panel/api/v1/routers/templates.py
  admin_panel/core/__init__.py
  admin_panel/core/config.py
  admin_panel/core/db.py
  admin_panel/docker-compose.yml
  admin_panel/entrypoint.sh
  admin_panel/generator/__init__.py
  admin_panel/generator/recipients.py
  admin_panel/generator/templates.py
  admin_panel/main.py
  admin_panel/migration/README
  admin_panel/migration/env.py
  admin_panel/migration/script.py.mako
  admin_panel/migration/versions/7f7d6244ff44_initial_migration.py
  admin_panel/models/__init__.py
  admin_panel/models/base.py
  admin_panel/models/campaign.py
  admin_panel/models/campaign_recipient.py
  admin_panel/models/history.py
  admin_panel/models/message_template.py
  admin_panel/models/recipient.py
  admin_panel/requirements.txt
Due: docker-compose-lint, dockerfile-lint

feature:extend notification api models
  services/notification_api/core/settings.py
  services/notification_api/models/notification.py
Due: none

feature:extend notification db model
  services/notification_api/core/db.py
Due: none

feature:add notification api core broker
  services/notification_api/core/broker.py
  services/notification_api/core/repository.py
Due: none

feature:add notification api link shortener
  services/notification_api/core/shortener.py
Due: none

refactor: extend notification api core service
  services/notification_api/core/service.py
Due: none

feature: add worker service
  services/notification_api/api/v1/api.py
  services/worker/Dockerfile
  services/worker/db.py
  services/worker/main.py
  services/worker/requirements.txt
  services/worker/senders.py
  services/worker/settings.py
  services/worker/utils.py
Due: dockerfile-lint

feature: add websocket service
  .env.example
  docker-compose.yml
  services/websocket-server/Dockerfile
  services/websocket-server/main.py
  services/websocket-server/requirements.txt
  services/websocket-server/settings.py
Due: docker-compose-lint, dockerfile-lint

feature: add README_HOW_TO_USE_AND_TEST.md
  README_HOW_TO_USE_AND_TEST.md
Due: none

refactor: some fixes
  docker-compose.yml
  services/notification_api/core/shortener.py
Due: docker-compose-lint

refactor: fix docker-compose and Dockerfile
  admin_panel/Dockerfile
  admin_panel/entrypoint.sh
  admin_panel/migration/versions/7f7d6244ff44_initial_migration.py
  docker-compose.yml
  services/notification_api/requirements.txt
Due: docker-compose-lint, dockerfile-lint
